In [1]:
import pandas as pd
import datetime as dt

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
file_to_read = '201908-citibike-tripdata.csv'
df = pd.read_csv(file_to_read)

In [3]:
# 2. Check the datatypes of your columns. 
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [6]:
df['tripduration']

0           393
1           627
2          1132
3          1780
4          1517
           ...
2344219     216
2344220     117
2344221    1614
2344222    1301
2344223     419
Name: tripduration, Length: 2344224, dtype: int64

In [7]:
# 3. Convert the 'tripduration' column to datetime datatype.
df['tripduration'] = pd.to_datetime(df['tripduration'],unit='s')
# df['tripduration'] = pd.to_timedelta(df['tripduration'],unit='s')

In [8]:
df['tripduration']

0         1970-01-01 00:06:33
1         1970-01-01 00:10:27
2         1970-01-01 00:18:52
3         1970-01-01 00:29:40
4         1970-01-01 00:25:17
                  ...
2344219   1970-01-01 00:03:36
2344220   1970-01-01 00:01:57
2344221   1970-01-01 00:26:54
2344222   1970-01-01 00:21:41
2344223   1970-01-01 00:06:59
Name: tripduration, Length: 2344224, dtype: datetime64[ns]

In [9]:
# 4. Check the datatypes of your columns. 
df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [10]:
# 5. Export the Dataframe as a new CSV file without the index.
file_to_save = '201908-citibike-tripdata-processed.csv'
df.to_csv(file_to_save,index=False)